@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #019863;
  --secondary-color: #f4efe6;
  --primary-text-color: #0e141b;
  --secondary-text-color: #a18249;
  --optional-text-color: #fff;
  --primary-border-color: #f4efe6;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-color: #019863;
    --secondary-color: #f4efe6;
    --primary-text-color: #0e141b;
    --secondary-text-color: #a18249;
    --optional-text-color: #fff;
    --primary-border-color: #f4efe6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
